<div class="w-70 p-3">
  <div class="card">
    <div class="card-body">

      <form method="post" [formGroup]="articuloForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
         <!-- Toolbar -->
            <div class="btn-group btn-group-sm mb-3" role="group">
              <button type="submit"  class="btn btn-light has-icon"><i class="material-icons mr-1">save</i> Guardar</button>
              <button type="button" (click)="onCancel()" class="btn btn-light has-icon"><i class="material-icons mr-1">cancel</i> Cancelar</button>
          </div>  
          <!-- Toolbar -->

          <!-- controls -->
            <div *ngIf="image" class="mb-3">
              <label for="validationTextarea">Foto actual</label>
              <img [src]="image" width="300" height="300" alt="Imagen Actual" class="img-thumbnail">
            </div>
          <!-- controls -->
          
          <!-- controls -->
            <div class="mb-3">
              <label for="validationTextarea">Código (*)</label>
              <input class="form-control" [class.is-invalid]="!articuloForm.controls.codigo.valid && articuloForm.controls.codigo.dirty" formControlName="codigo" placeholder="El código es requerido" >
              <div *ngIf="!articuloForm.controls.codigo.valid && articuloForm.controls.codigo.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
            </div>
          <!-- controls -->

        <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Nombre (*)</label>
            <input class="form-control" [class.is-invalid]="!articuloForm.controls.nombre.valid && articuloForm.controls.nombre.dirty" formControlName="nombre" placeholder="El nombre es requerido" >
            <div *ngIf="!articuloForm.controls.nombre.valid && articuloForm.controls.nombre.dirty" class="invalid-feedback">
              Este campo es obligtorio
            </div>
          </div>
        <!-- controls -->

         <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Descripción</label>
            <input class="form-control" [class.is-invalid]="!articuloForm.controls.descripcion.valid && articuloForm.controls.descripcion.dirty" formControlName="descripcion" placeholder="El nombre es requerido" >
            <div *ngIf="!articuloForm.controls.descripcion.valid && articuloForm.controls.descripcion.dirty" class="invalid-feedback">
              Este campo es obligtorio
            </div>
          </div>
        <!-- controls -->

         <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Foto</label>
            <input (change)="imagesPreview($event)" class="form-control" type="file" >
          </div>
        <!-- controls -->

         <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Rubros (*)</label>
            <select id="id_rubro" class="form-control select" >
              <option value=""> ------ </option>
              <option *ngFor="let item of rubros" value="{{ item.id }}">{{ item.descripcion }}</option>
            </select>
          </div>
        <!-- controls -->

        <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Marcas</label>
            <select id="id_marca"  class="form-control select" >
              <option value=""> ------ </option>
              <option *ngFor="let item of marcas" value="{{ item.id }}">{{ item.descripcion }}</option>
            </select>
          </div>
        <!-- controls -->

          <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Precio compra (*)</label>
              <input type="number" class="form-control" [class.is-invalid]="!articuloForm.controls.precio_compra.valid && articuloForm.controls.precio_compra.dirty" formControlName="precio_compra" placeholder="El nombre es requerido" >
              <div *ngIf="!articuloForm.controls.precio_compra.valid && articuloForm.controls.precio_compra.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
          </div>
        <!-- controls -->

         <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Precio venta (*)</label>
              <input type="number" class="form-control" [class.is-invalid]="!articuloForm.controls.precio_venta.valid && articuloForm.controls.precio_venta.dirty" formControlName="precio_venta" placeholder="El nombre es requerido" >
              <div *ngIf="!articuloForm.controls.precio_venta.valid && articuloForm.controls.precio_venta.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
          </div>
        <!-- controls -->

      </form>
    </div>
  </div>
</div>