   <div class="card">
        <div class="card-body">
          <!-- Toolbar -->
          <div class="btn-group btn-group-sm mb-3" role="group">
            <button (click)="abrirAlta()" type="button" class="btn btn-light has-icon"><i class="material-icons mr-1">add_circle_outline</i> Agregar</button>
            <button type="button" class="btn btn-light has-icon"><i class="material-icons mr-1">refresh</i> Refresh</button>
            <button type="button" class="btn btn-light has-icon"><i class="mr-1" data-feather="paperclip"></i> Export</button>
          </div>
           <!-- Toolbar -->

          <div class="table-responsive">
            <table class="table table-bordered table-sm has-checkAll mb-0" data-bulk-target="#bulk-dropdown" data-checked-class="table-warning">
              <caption class="p-0 text-right"><small>Showing 1 to 5 of 57 entries</small></caption>

              <!-- Filter columns -->
              <thead class="thead-primary">
                <tr class="column-filter">
                  <th colspan="2"></th>
                  <th><input type="text" class="form-control form-control-sm border-primary" placeholder="Buscar por nombre"></th>
                  <th><input type="text" class="form-control form-control-sm border-primary" placeholder="Buscar por descripcion"></th>
                  <th><input type="text" class="form-control form-control-sm border-primary" placeholder="Buscar por precio compra"></th>
                  <th><input type="text" class="form-control form-control-sm border-primary" placeholder="Buscar por precio venta"></th>
                  <th><button class="btn btn-sm btn-outline-primary btn-block has-icon"><i class="material-icons">search</i></button></th>
                </tr>
                <tr>
                  <th scope="col">
                    <div class="custom-control custom-control-nolabel custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkAll">
                      <label class="custom-control-label" for="checkAll"></label>
                    </div>
                  </th>
                  <th scope="col" class="text-center">Detalle</th>
                  <th scope="col"><a href="javascript:void(0)" class="sorting asc">Nombre</a></th>
                  <th scope="col"><a href="javascript:void(0)" class="sorting">Descripción</a></th>
                  <th scope="col"><a href="javascript:void(0)" class="sorting">Compra</a></th>
                  <th scope="col"><a href="javascript:void(0)" class="sorting">Venta</a></th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let item of articulos">
                  <td>
                    <div class="custom-control custom-control-nolabel custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkbox1">
                      <label for="checkbox1" class="custom-control-label"></label>
                    </div>
                  </td>
                  <td class="text-center"><a href="#detailRow1" class="detail-toggle text-secondary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="detailRow1"></a></td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td>{{ item.precio_compra }}</td>
                  <td>{{ item.precio_venta }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-xs" role="group">
                      <a href="javascript:void(0)" class="btn btn-link btn-icon bigger-130 text-success"><i data-feather="edit"></i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-icon bigger-130 text-danger"><i data-feather="trash"></i></a>
                    </div>
                  </td>
                </tr>
                <tr class="detail-row collapse" id="detailRow1">
                  <td colspan="7">
                    <ul class="data-detail ml-5">
                      <li><span>Age</span><span>33</span></li>
                      <li><span>Start date</span><span>2008/11/28</span></li>
                      <li><span>Salary</span><span>$162,700</span></li>
                      <li><span>Extn.</span><span>5407</span></li>
                      <li><span>E-mail</span><span>a.satou@datatables.net</span></li>
                    </ul>
                  </td>
                </tr>


              </tbody>
            </table><!-- /.table -->

          </div><!-- /.table-responsive -->

             <div class="d-flex align-items-center flex-column flex-sm-row">

            <!-- Bulk action dropdown -->
            <div class="dropdown dropup bulk-dropdown align-self-start mr-2 mt-1 mt-sm-0" id="bulk-dropdown" hidden>
              <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="checked-counter"></span>
              </button>
              <div class="dropdown-menu">
                <button class="dropdown-item has-icon" type="button"><i class="mr-2" data-feather="copy"></i> Copy</button>
                <button class="dropdown-item has-icon" type="button"><i class="mr-2" data-feather="archive"></i> Archive</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item has-icon text-danger" type="button"><i class="mr-2" data-feather="trash"></i> Remove</button>
              </div>
            </div>

            <!-- Show entries -->
            <form class="form-inline mt-1 mt-sm-0">
              Show
              <select class="custom-select custom-select-sm w-auto mx-1">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
              entries
            </form>

            <!-- Pagination -->
            <ul class="pagination pagination-sm pagination-circle mb-0 ml-sm-auto mt-1 mt-sm-0">
              <li class="page-item disabled">
                <span class="page-link"><i data-feather="chevron-left"></i></span>
              </li>
              <li class="page-item active"><span class="page-link">1</span></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item readonly"><span class="page-link">...</span></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">10</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)"><i data-feather="chevron-right"></i></a></li>
            </ul>

          </div><!-- /.d-flex -->

      </div>
  </div>