<div class="card">
    <div class="card-body">
      <!-- Toolbar -->
      <div class="btn-group btn-group-sm mb-3" role="group">
        <button type="button" (click)="deleteArticle()" class="btn btn-light has-icon"><i class="material-icons mr-1">delete</i> Eliminar</button>
        <button (click)="cancelDelete()" type="button" class="btn btn-light has-icon"><i class="material-icons mr-1">cancel</i> Cancelar</button>
      </div>
       <!-- Toolbar -->
      <div class="col-md-4 mb-3" *ngIf="articulo">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img *ngIf="articulo.imagen" src="{{ articulo.imagen }}" alt="..." class="img-thumbnail">
              <div class="mt-3">
                <h4>{{ articulo.nombre }}</h4>
                <p class="text-secondary mb-1"> Compra: {{ articulo.precio_compra | currency }}</p>
                <p class="text-muted font-size-sm"> Venta: {{ articulo.precio_venta | currency  }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>