<!-- Main header -->
    <div class="main-header">
      <a class="nav-link nav-link-faded rounded-circle nav-icon" href="#" data-toggle="sidebar"><i class="material-icons">menu</i></a>
      
      <ul class="nav nav-circle ml-auto">
        
        <li class="nav-item dropdown ml-2">
          <a class="nav-link nav-link-faded rounded nav-link-img dropdown-toggle px-2" href="#" data-toggle="dropdown" data-display="static">
            <img src="assets/img/user.svg" alt="User" class="rounded-circle mr-2">
            <span class="d-none d-sm-block">User</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right pt-0 overflow-hidden">
            <div class="media align-items-center bg-primary text-white px-4 py-3 mb-2">
              <img src="assets/img/user.svg" alt="User" class="rounded-circle" width="50" height="50">
              <div class="media-body ml-2 text-nowrap">
                <h6 class="mb-0">User</h6>
                <span class="text-gray-400 font-size-sm">User Group</span>
              </div>
            </div>
            <a class="dropdown-item has-icon" href="javascript:void(0)"><i class="mr-2" data-feather="arrow-right"></i>Dropdown item</a>
            <a class="dropdown-item has-icon" href="javascript:void(0)"><i class="mr-2" data-feather="arrow-right"></i>Dropdown item</a>
            <a (click)="salir()" class="dropdown-item has-icon text-danger" href="javascript:void(0)"><i class="mr-2" data-feather="arrow-right"></i>Salir</a>
          </div>
        </li>
      </ul>
    </div>
<!-- /Main header -->