<div class="container">
        <div class ="row">
            <div class="col"></div>
                <div class="col-lg-6  col-xl-4 d-flex justify-content-center align-items-start">
                    <div class="card mb-3">
                            <div class="card-body p-4">
                                        <img style="position:relative; margin-left:23%;" src="assets/img/logo.png" width="155px" heigth="155px" alt="" >
                                    <hr>

                                    <form >
                                        <div class="form-group">
                                            <label class="font-size-sm" for="InputEmail">Usuario</label>
                                            <input ngModel name="username" required type="text" class="form-control " placeholder="Ingrese su usuario">
                                        </div>

                                        <div class="form-group">
                                            <label class="font-size-sm" for="InputPassword">Contraseña</label>
                                            <input ngModel name="password" required type="password" class="form-control" id="InputPassword" placeholder="ingrese su contraseña ">
                                        </div>

                                        <div class="form-group">
                                            <label class="font-size-sm" for="InputEmail">Sucursales</label>
                                            <select class="form-control"  >
                                                <option *ngFor="let item of sucursales" value="item.id" >{{ item.nombre }}</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
                                    </form>
                            </div>
                    </div>
                </div>

                <div class="col">
                <img src="" alt="" class="img-fluid w-100">
            </div>
        </div>
    </div>