<div class="sidebar">

    <!-- Sidebar header -->
    <div class="sidebar-header">
      <a [routerLink]="['/home']" class="logo">
        <img src="assets/img/logo-white.svg" alt="Logo" id="main-logo">
      </a>
      <a href="#" class="nav-link nav-icon rounded-circle ml-auto" data-toggle="sidebar">
        <i class="material-icons">close</i>
      </a>
    </div>
    <!-- /Sidebar header -->

    <!-- Sidebar body -->
    <div class="sidebar-body">
      <ul class="nav nav-sub">
        <li class="nav-label">Principal</li>
        <li class="nav-item">
          <a class="nav-link has-icon dropdown-toggle" href="#"><i class="material-icons">add_shopping_cart</i>Artículos</a> <!-- active show -->
          <ul>
            <li><a [routerLink]="['/articles']" >Listado</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <!-- /Sidebar body -->

  </div>
