<div class="w-70 p-3">
  <div class="card">
    <div class="card-body">
    
    <!-- mensaje -->
    <app-message [mensaje]="mensaje" [status]="status" ></app-message>
    <!-- mensaje -->
     
      <form method="post" [formGroup]="articuloForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
         <!-- Toolbar -->
            <div class="btn-group btn-group-sm mb-3" role="group">
              <!-- [disabled]="!articuloForm.valid" -->
              <button type="submit" [disabled]="!articuloForm.valid"  class="btn btn-light has-icon"><i class="material-icons mr-1">save</i> Guardar</button>
              <button (click)="onCancel()" type="button" class="btn btn-light has-icon"><i class="material-icons mr-1">cancel</i> Cancelar</button>
          </div>
          <!-- Toolbar -->
          
          <!-- controls -->
            <div class="mb-3">
              <label for="validationTextarea">Código (*)</label>
              <input class="form-control" [class.is-invalid]="!articuloForm.controls.codigo.valid && articuloForm.controls.codigo.dirty" formControlName="codigo" placeholder="El código es requerido" >
              <div *ngIf="!articuloForm.controls.codigo.valid && articuloForm.controls.codigo.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
            </div>
          <!-- controls -->

        <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Nombre (*)</label>
            <input class="form-control" [class.is-invalid]="!articuloForm.controls.nombre.valid && articuloForm.controls.nombre.dirty" formControlName="nombre" placeholder="El nombre es requerido" >
            <div *ngIf="!articuloForm.controls.nombre.valid && articuloForm.controls.nombre.dirty" class="invalid-feedback">
              Este campo es obligtorio
            </div>
          </div>
        <!-- controls -->

         <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Descripción</label>
            <input class="form-control" [class.is-invalid]="!articuloForm.controls.descripcion.valid && articuloForm.controls.descripcion.dirty" formControlName="descripcion" placeholder="El nombre es requerido" >
            <div *ngIf="!articuloForm.controls.descripcion.valid && articuloForm.controls.descripcion.dirty" class="invalid-feedback">
              Este campo es obligtorio
            </div>
          </div>
        <!-- controls -->

         <!-- controls -->
           <div class="mb-3">
            <label for="validationTextarea">Foto</label>
            <input formControlName="imagen" (change)="imagesPreview($event)" class="form-control" type="file" >
          </div>
        <!-- controls -->

         <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Rubros (*)</label>
            <ng-select formControlName="rubro"  >
              <ng-option value=""> ------ </ng-option>
              <ng-option *ngFor="let item of rubros" value="{{ item.id }}"  >{{ item.descripcion }}</ng-option>
            </ng-select>
          </div>
        <!-- controls -->

        <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Marcas</label>
            <ng-select formControlName="marca"   >
              <ng-option value=""> ------ </ng-option>
              <ng-option *ngFor="let item of marcas" value="{{ item.id }}"  >{{ item.descripcion }}</ng-option>
            </ng-select>
          </div>
        <!-- controls -->

          <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Precio compra (*)</label>
              <input type="number" class="form-control" [class.is-invalid]="!articuloForm.controls.precio_compra.valid && articuloForm.controls.precio_compra.dirty" formControlName="precio_compra" placeholder="El nombre es requerido" >
              <div *ngIf="!articuloForm.controls.precio_compra.valid && articuloForm.controls.precio_compra.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
          </div>
        <!-- controls -->

         <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Precio venta (*)</label>
              <input type="number" class="form-control" [class.is-invalid]="!articuloForm.controls.precio_venta.valid && articuloForm.controls.precio_venta.dirty" formControlName="precio_venta" placeholder="El nombre es requerido" >
              <div *ngIf="!articuloForm.controls.precio_venta.valid && articuloForm.controls.precio_venta.dirty" class="invalid-feedback">
                Este campo es obligtorio
              </div>
          </div>
        <!-- controls -->

        <!-- controls -->
          <div class="mb-3">
            <label for="validationTextarea">Proveedores</label>
            <ng-select formControlName="proveedor">
              <ng-option *ngFor="let item of proveedores" [value]="item.id">{{item.razon_social}}</ng-option>
            </ng-select>
          </div>
        <!-- controls -->

      </form>
    </div>
  </div>
</div>