<div class="w-70 p-3">
    <div class="card">
      <div class="card-body">
      
        <!-- mensaje -->
        <app-message [mensaje]="mensaje" [status]="status" ></app-message>
        <!-- mensaje -->
            
        <form method="post" (ngSubmit)="guardarMarca()" [formGroup]="marcaForm" enctype="multipart/form-data">
           <!-- Toolbar -->
              <div class="btn-group btn-group-sm mb-3" role="group">
                <!-- [disabled]="!articuloForm.valid" -->
                <button type="submit" [disabled]="!marcaForm.valid"  class="btn btn-light has-icon"><i class="material-icons mr-1">save</i> Guardar</button>
                <button  type="button" (click)="cancelar()" class="btn btn-light has-icon"><i class="material-icons mr-1">cancel</i> Cancelar</button>
            </div>
            <!-- Toolbar -->
            
            <!-- controls -->
              <div class="mb-3">
                <label for="validationTextarea">Descripción (*)</label>
                <input class="form-control" [class.is-invalid]="!marcaForm.controls.descripcion.valid && marcaForm.controls.descripcion.dirty"  formControlName="descripcion" placeholder="La descripción es requerida" >
                <div *ngIf="!marcaForm.controls.descripcion.valid && marcaForm.controls.descripcion.dirty"  class="invalid-feedback">
                  Este campo es obligtorio
                </div>
              </div>
            <!-- controls -->
  
        </form>
      </div>
    </div>
  </div>